[Unit]
Description=RFKill-Unblock Bluetooth Devices
Wants=bluetooth.service
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=forking
ExecStart=/usr/sbin/rfkill unblock bluetooth
ExecStop=
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
